{% extends '_partials/dashboard_base.html' %}
{% load i18n %}

{% block html_title %} {{ html_title }}{% endblock html_title %}

{% block content %}
  <div class="container">

    <table id="example" class="table table-bordered" style="font-size:14px;">
      <thead class ="table-success">
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>Site Name</th>
          <th>Supplier</th>
          <th>Utility</th>
          <th>MPAN/MPR</th>
          <th>CED</th>

        </tr>

      </thead>
      <!--  Data from Backend -->
      <tbody>
        <tr>
          {% for contract in contracts %}

            <td><a href="{{ contract.get_absolute_url }}">{{ contract.id }}</a></td>
            <td>{{ contract.client_name }}</td>
            <td>{{ contract.business_name | title | truncatechars:30 }}</td>
            <td>{{ contract.supplier}}</td>
            <td>{{contract.utility}}</td>
            <td>{{ contract.mpan_mpr}}</td>
            {% if contract.is_ooc %}
              <td>{% trans "Out of Contract" %}</td>
            {% else %}
              <td>{{ contract.contract_end_date }} </td>
            {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock content %}
