{% extends '_partials/dashboard_base.html' %}
{% load i18n %}
{% block html_title %} {{ html_title }} Contracts {% endblock html_title %}

{% block content %}
  <br>

  <h4 style="text-align:center; margin-bottom:20px;"><i class="fa-solid fa-file-signature"></i>&nbsp;{{ client }} - All Contracts</h4>
  <div class="container">
    <table class="display" id="am_contracts" style="text-align:center; width:100%; margin-bottom:30px;">
      <thead class ="table-success">
        <tr>

          <th>Business Name</th>
          <th>Site Address</th>
          <th>MPAN/MPR</th>
          <th>CED</th>
          <th>Meter Serial No</th>
          <th>Top Line</th>
          <th>EAC</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in client.client_contracts.all  %}
          <tr>

            <td>{{ contract.business_name | title | truncatechars:30 }}</td>
            <td>{{ contract.site_address | title | truncatechars:30}}</td>
            <td>{{ contract.mpan_mpr}}</td>


            {% if contract.is_ooc %}

              <td>{% trans "Out of Contract" %}</td>
            {% else %}
              <td>{{ contract.contract_end_date }} </td>

            {% endif %}


            <td>{{contract.meter_serial_number }}</td>
            <td>{{ contract.top_line }}</td>
            <td>{{ contract.eac}}</td>
            <td><a href="{% url 'contracts:am_contract_detail' contract.pk %}" class="btn btn-success text-center"><i class="fa-solid fa-eye"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      $('#am_contracts').DataTable(
        {
          "dom": '<"dt-buttons"Bf><"clear">lirtp',
          "paging": true,
          "autoWidth": true,
          "columnDefs": [
            { "orderable": false, "targets": 5 }
          ],
          "buttons": [
            'colvis',
            'copyHtml5',
            'csvHtml5',
            'excelHtml5',
            'pdfHtml5',
            'print'
          ]
        });
    });

  </script>
{% endblock extra_js %}
